<?xml version="1.0" encoding="utf-8"?>
<?include $(sys.CURRENTDIR)\Config.wxi?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="Bin">
            <Directory Id="dirB88FAB982AD78D8F2803403CCF64E1A6" Name="roslyn" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="CompGroup_StackBuilderTechBSABin">
            <Component Id="cmpB5F2771100F52D12860FA3E195E1F2BE" Directory="Bin" Guid="1624141E-6E54-4BEF-A179-97749002C55A">
                <File Id="fil0777030352A360404A6D34865891981F" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\Cureos.Measures.dll" />
            </Component>
            <Component Id="cmp223F7A40DFEA68AB8E5332C1C201B6DC" Directory="Bin" Guid="89C34F0A-DD0E-4F96-AC6B-7D16AF83CE84">
                <File Id="fil53216D1158CAC2A725AF4E77F7DA2DDE" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\log4net.dll" />
            </Component>
            <Component Id="cmpD77CE1D5F41135DFE18C598CF130AB47" Directory="Bin" Guid="297B0E61-0B2E-4E17-8A52-1D081E9BFEAD">
                <File Id="fil384B57BBDF91DD994152E8EE6124FBBE" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\log4net.dll.refresh" />
            </Component>
            <Component Id="cmpA753B91B4D11CF06686676307DA07D67" Directory="Bin" Guid="AEC8907E-8C38-4A24-BA3B-1C5060C4BD04">
                <File Id="filE8CD01DA7945F10A4F7031F6B9E822F5" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\Microsoft.Bcl.AsyncInterfaces.dll" />
            </Component>
            <Component Id="cmpED5A4ACC7A7B82BE502528C52E0FBA62" Directory="Bin" Guid="290B8085-7E9A-4A2E-ADB6-687AA1C0E9EE">
                <File Id="filB546C52BD322FE9C4A2A0F15C1B9ACCD" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll" />
            </Component>
            <Component Id="cmp88E7C499D2DB9B344B8B436D991C080C" Directory="Bin" Guid="43BD37D7-6177-4ED9-B09F-3F8FA67FD41E">
                <File Id="filED2FA1EEF6637F70F47157ECA5740304" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll.refresh" />
            </Component>
            <Component Id="cmpBD50004859623D4735EEA41FF983BE0D" Directory="Bin" Guid="51D275B5-CDDB-4C1B-A739-EA8C722B974D">
                <File Id="filDAF5CFE0C5756300C2964835434FBCED" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmp9E591D397C4C16696BD59D3B2E6C7A23" Directory="Bin" Guid="19539347-055E-4368-8866-F6D0480A6C7D">
                <File Id="fil921697DCA3B41EB86D94B2FD40896F8D" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\Newtonsoft.Json.dll.refresh" />
            </Component>
            <Component Id="cmp30EF8274C405AFF0327EA6F90B176C0F" Directory="Bin" Guid="14BE00C1-559B-4425-853B-186C011F7301">
                <File Id="fil3FC5B43CE56D2CFA40C5A548928F1110" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\Newtonsoft.Json.Schema.dll" />
            </Component>
            <Component Id="cmp8FEDA02B19121A1E48341CF7D4B49FC0" Directory="Bin" Guid="1919554C-9A93-43D7-AB24-A5743A97C234">
                <File Id="fil96519E451A7C2902AAC4160439386D2D" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\Newtonsoft.Json.Schema.dll.refresh" />
            </Component>
            <Component Id="cmp93B8AAD5CCAAA98FFAD347A19E6C3475" Directory="Bin" Guid="C9EEF66C-2F87-4567-9154-A01163D39C1E">
                <File Id="fil2FE507B83B812AEF884414FEB99FA784" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\OfficePickers.dll" />
            </Component>
            <Component Id="cmpF7DBB3DB90C231795A210FA29B9BDED6" Directory="Bin" Guid="70C287FB-C0F9-41A3-BAB2-051DF27DE97E">
                <File Id="filD41C721A8E2554B9F5A5C934F20CA9B0" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\Sharp3D.Boxologic.dll" />
            </Component>
            <Component Id="cmp84BB5F6380BAC7A6AA707C764F5B9C97" Directory="Bin" Guid="62862821-42BA-49EA-A779-E1FBD1917738">
                <File Id="filD6F16025096C7EC5FA37321C27041CD2" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\Sharp3D.Math.dll" />
            </Component>
            <Component Id="cmp54ABEE3909AC1AFA0C44D6D3EE29C525" Directory="Bin" Guid="85539EDA-7C59-4C4D-B125-68F0DAB3C529">
                <File Id="fil7A1CEE6B0CB674F8E569A8F873936ED6" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\Sharp3D.Math.dll.refresh" />
            </Component>
            <Component Id="cmp8BF276CB484B0E1D3700226FB70DF47A" Directory="Bin" Guid="D985E392-0D2C-4658-88C8-358AB7A94739">
                <File Id="fil4B006E3FF9F9CDC5BC83A373A844FE22" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\Sharp3DBinPacking.dll" />
            </Component>
            <Component Id="cmp59091B35C246031969F40956E53FFD0B" Directory="Bin" Guid="C5BF92DA-017D-4473-98AC-4D87D2E8FADE">
                <File Id="filE93116E12CB21B1A38CE30C27BE97868" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\SharpGLTF.Core.dll" />
            </Component>
            <Component Id="cmpC9C27193C22CDD7E3E75FB40CEC5DA20" Directory="Bin" Guid="B031B4FD-0FC2-49C9-A696-028DE19842DC">
                <File Id="fil7372B50F7DF55B61AE6969CC8073A961" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\SharpGLTF.Core.dll.refresh" />
            </Component>
            <Component Id="cmp1296F5FB3DFCEB0D5B4D27F1E82B3918" Directory="Bin" Guid="7CE00302-1866-4926-917C-55201BCBE4A0">
                <File Id="fil23F66EF18832E600A93F2F102C6CEFAD" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\SharpGLTF.Toolkit.dll" />
            </Component>
            <Component Id="cmp676E60136552E09ED61E44D4B152363F" Directory="Bin" Guid="1D86E7CC-FA31-4940-8088-1EB6039D566B">
                <File Id="fil9B5428C111355106D237D44A48EFECB5" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\SharpGLTF.Toolkit.dll.refresh" />
            </Component>
            <Component Id="cmpFA194DF41573A378B8180E4DCB0F2A45" Directory="Bin" Guid="02308B12-7B15-4538-B4EB-B2BBA04E664F">
                <File Id="fil23C1EFAAFFCD7415ECFA0785A1944094" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\System.Buffers.dll" />
            </Component>
            <Component Id="cmp534C8E124A698D2600A92B4D46C851CD" Directory="Bin" Guid="60913A01-13CE-4CCF-8CA0-6074B84AA73D">
                <File Id="fil97BD56144F97C32BCC88C55229E82BE6" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\System.Memory.dll" />
            </Component>
            <Component Id="cmpEDAFD68D648B033459CEAE920F07AB24" Directory="Bin" Guid="3504EF95-F387-4FC4-8FEC-FD5C384A5C8B">
                <File Id="fil0CD3D2363A431DB33C08C469A97BAB67" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\System.Memory.dll.refresh" />
            </Component>
            <Component Id="cmp305B5867CCBC3CC60AABAAF05E527221" Directory="Bin" Guid="60A57692-8B6B-4A48-B655-5E5149F0BB17">
                <File Id="fil6CBC4BCBF41F99AED3D7AD5F5B2C73AE" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\System.Numerics.Vectors.dll" />
            </Component>
            <Component Id="cmp3DE5167F7CFA41CB9D75724062EC54CE" Directory="Bin" Guid="51F3A2DA-C29B-4F53-8EF2-2C74173E518D">
                <File Id="fil09E0225ABC608E8904CCE1A9FB393B24" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\System.Runtime.CompilerServices.Unsafe.dll" />
            </Component>
            <Component Id="cmpC107AFB2FEDCBE9DC37B650E3ECB6967" Directory="Bin" Guid="DF290B0E-DADB-485F-A0BB-609A8AC119F0">
                <File Id="fil10BD70855FE4CE3E67637FFD00F20DD0" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\System.Runtime.CompilerServices.Unsafe.dll.refresh" />
            </Component>
            <Component Id="cmp222AF91A4870EF274F9AA31B9A648199" Directory="Bin" Guid="ED954132-F74B-4559-8CAB-EF3773BF3570">
                <File Id="fil2B018499E391AF7DFF7AA773119F6F97" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\System.Text.Encodings.Web.dll" />
            </Component>
            <Component Id="cmp98C8D4470B057A78F4E179BFFCF0EC19" Directory="Bin" Guid="28BAFD49-AAE9-4573-A6F4-343F0E5A2D8E">
                <File Id="fil43DC48512BBA6393AD0F3C4F51C320FB" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\System.Text.Json.dll" />
            </Component>
            <Component Id="cmp3B2C2726BEB07DEC8C45B45144CFCB39" Directory="Bin" Guid="F7B9CC4B-B15E-43C7-831A-73DD59DD95D2">
                <File Id="fil6F009C8200EB71D20F83BAA763E8C191" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\System.Text.Json.dll.refresh" />
            </Component>
            <Component Id="cmpE72D58B22FE9090E61ACBCE128B51E2C" Directory="Bin" Guid="2F90AB65-287C-4212-9644-2A5F5EBC20E0">
                <File Id="filE4396342CFF3A9B0E2B42CF19CB366B2" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\System.Threading.Tasks.Extensions.dll" />
            </Component>
            <Component Id="cmp83858C953EB36AB2BA508B9B0E19C26D" Directory="Bin" Guid="4373C372-0A07-411B-9D07-146431C76DFB">
                <File Id="filAB02BDAD33D8F5CD3C1F1BEED23065F1" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\System.Threading.Tasks.Extensions.dll.refresh" />
            </Component>
            <Component Id="cmp6B05B521015D43EB62AE9C718EEE417B" Directory="Bin" Guid="67B9B9F1-5EE8-489B-B981-8704F26DA573">
                <File Id="filD4C26C95C0DB77476B5EE445B914AB92" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\System.ValueTuple.dll" />
            </Component>
            <Component Id="cmp56B5FD2AC91A9321D8364440DFB78D24" Directory="Bin" Guid="1DD22125-876A-4CA5-A98E-34C5F98593CC">
                <File Id="filCFDDDC5DF37CA791B05BDE3F8B29F2DE" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\treeDiM.Basics.dll" />
            </Component>
            <Component Id="cmp7A726A41FE490FD1DB24ADB922A2F7F5" Directory="Bin" Guid="E541E73D-A5CB-4C1C-B790-CCD05261A5D7">
                <File Id="filB6BCFE6CF7E39F7254E8F2847BCBACE2" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\treeDiM.StackBuilder.Basics.dll" />
            </Component>
            <Component Id="cmpB5748DB170CF33732C3F08AE87AB1FDE" Directory="Bin" Guid="2A94ECB1-E6C3-4769-8D88-B5D50CA719D1">
                <File Id="fil12CDB3AEF441E1C73ABFEC95843F324B" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\treeDiM.StackBuilder.Engine.dll" />
            </Component>
            <Component Id="cmpAB03CB15087A9BFB59753D5ADEF53708" Directory="Bin" Guid="ADEC7693-ECFC-4819-98A7-D9FFFE931B9A">
                <File Id="fil09E3F698645D3A9C1B9464202316EF06" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\treeDiM.StackBuilder.Exporters.dll" />
            </Component>
            <Component Id="cmpBFF4558AFE987E56C73FECF9CDBBD38B" Directory="Bin" Guid="9BB66E9A-8545-4D91-8BE4-608D7DB72179">
                <File Id="fil9FD2C3909106DCF01889C88A03BFE266" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\treeDiM.StackBuilder.Graphics.dll" />
            </Component>
            <Component Id="cmp5DE8510A0449039BF1102E2EE37A5B55" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="9B518865-2E5A-4C13-AEB8-36A8F1786DBF">
                <File Id="fil0232392E35D44F59CA4116435B9B7F96" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\csc.exe" />
            </Component>
            <Component Id="cmp974B1286CC59DE47D210DB1CAF1D136C" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="FBCFD179-D9EE-40C0-880C-B28F723BAE62">
                <File Id="filE1710DB55D108C464DF3F07DA7C29B97" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\csc.exe.config" />
            </Component>
            <Component Id="cmp6D29A3D82A61D17842B77043D75B1681" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="ED41903E-ECD8-42BC-BC8B-03BCE1284CD4">
                <File Id="filEE35424F5E5C411C3A869E1C5CCEA72E" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\csc.exe.refresh" />
            </Component>
            <Component Id="cmp4F897AF041425F434D67BC3E5707FFA0" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="1E37CD29-2038-4530-9281-A2FD50746494">
                <File Id="fil4BF32E225F630CF43120B02315763478" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\csc.rsp" />
            </Component>
            <Component Id="cmpE5150200C12FC6A295AFFC9BEAF370BB" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="ED6D3B86-25D3-41BD-96D9-34E63DD6AB18">
                <File Id="fil54EA8AA549B6E80D56705EDD995C7F0D" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\csi.exe" />
            </Component>
            <Component Id="cmp0D259F9133EAD0883B55C0969F65ACDC" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="CF65D987-456A-425D-80AC-4CE1E738E847">
                <File Id="fil46FDB4FB08A9B7B2C7B80A5AC393F058" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\csi.exe.config" />
            </Component>
            <Component Id="cmp0EA85618E7CC023725CAE9D140B804BD" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="DDE3384D-8521-48EE-9FCD-50F0F05A8D7A">
                <File Id="fil561C4193FE7984C350515ED479B7A219" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\csi.exe.refresh" />
            </Component>
            <Component Id="cmp0D40D6ADFC7B2E03EA32E45A96A6FEF8" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="BE6A1F3F-D975-48A7-88F2-2618599CA41B">
                <File Id="fil6222F8BE233586F60FD6FE6A2DBE7CB8" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\csi.rsp" />
            </Component>
            <Component Id="cmp78D5053031F3F2360CB7668EC149CBC0" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="E3059879-1CEE-49F8-91D5-EA5245CBFF56">
                <File Id="fil58F8D7EBC23953E39DF2DCA79AD3477D" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\Microsoft.Build.Tasks.CodeAnalysis.dll" />
            </Component>
            <Component Id="cmp673B1406E427221788D6283217AB4A08" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="5981D4ED-AA8D-480B-B7EF-5659E8B32FAA">
                <File Id="fil5D9BFF1BA6D3BA7016F6D2EE9AA908A4" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\Microsoft.Build.Tasks.CodeAnalysis.dll.refresh" />
            </Component>
            <Component Id="cmpF9599F8ED4EC294A1412D5625644B6BC" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="419B5084-38BD-4327-8F61-8C6218D3EB90">
                <File Id="fil2D4D5C5EB1A3DD65E37576C0EC5B0E06" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\Microsoft.CodeAnalysis.CSharp.dll" />
            </Component>
            <Component Id="cmp7CE99DAA18401BEF33E7CF8EBC1F032F" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="C6F6002C-C50F-4E46-AF09-8F0F148B483B">
                <File Id="filA3623E5D93D7A8CFBD264C58454AC4A7" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\Microsoft.CodeAnalysis.CSharp.dll.refresh" />
            </Component>
            <Component Id="cmpC8EEE52C68839CA2156982D37BF178B5" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="301F7D86-042E-4B91-A302-93F7FC28728B">
                <File Id="fil0A457A99DD018965B59928B803BAF3D6" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\Microsoft.CodeAnalysis.CSharp.Scripting.dll" />
            </Component>
            <Component Id="cmp78612588F8119789FCC1968779B0E16B" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="02D98BA9-0434-4289-B2D5-377005BB9F32">
                <File Id="fil699620C0C8B2C395505937301EE26847" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\Microsoft.CodeAnalysis.CSharp.Scripting.dll.refresh" />
            </Component>
            <Component Id="cmpD1FCFF80F256BECBA38909A6F7D01310" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="442C6980-3948-4578-BE19-E188B61CBCAB">
                <File Id="filB289616F0B4FE70B4A2B27B1A163CECE" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\Microsoft.CodeAnalysis.dll" />
            </Component>
            <Component Id="cmp8DF4C1B2C70712DAF63D8FF1DB82C6E1" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="87FE59A5-3C0F-4A39-AD93-33354EAB62D3">
                <File Id="fil65EDF632787B21B4AF8655ADFBBD3C70" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\Microsoft.CodeAnalysis.dll.refresh" />
            </Component>
            <Component Id="cmpD22C1EC3E0D40A77DAAA2F3E4DC78A6C" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="658D302E-EC6E-498F-A735-D7DBD12DA379">
                <File Id="fil44AE2FBA339C549BD4D799D6A89559FB" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\Microsoft.CodeAnalysis.Scripting.dll" />
            </Component>
            <Component Id="cmpA4A243D856D4F70FCB32DCF3F9BE7E87" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="6CB10F3D-D602-4272-BCBE-D5DEE3E0147D">
                <File Id="filBCBC89E2D3C03B2B1B6A503CAF1D1589" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\Microsoft.CodeAnalysis.Scripting.dll.refresh" />
            </Component>
            <Component Id="cmp909CDFFCE9D245EEAC0841A18942B37F" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="139C9FD3-205F-4A76-9DA4-82A0FF0D49EA">
                <File Id="fil1E553F1A8E222379124DD62FA29952C8" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\Microsoft.CodeAnalysis.VisualBasic.dll" />
            </Component>
            <Component Id="cmpB6837A4ED4DBDF2162A497BD5BB412AA" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="60F860C4-C92F-4211-86A4-A7FA72AE5D4E">
                <File Id="filB9DB64746618D77A7B29DAF71DCDC7A2" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\Microsoft.CodeAnalysis.VisualBasic.dll.refresh" />
            </Component>
            <Component Id="cmpC846C4FDF29F5FA46016B0B48BB808AA" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="2A470C1E-4130-4E90-A900-771A28B21C78">
                <File Id="fil019544DDF087C2ABB0E310D314D13D01" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\Microsoft.CSharp.Core.targets" />
            </Component>
            <Component Id="cmpEE0052C5088149B445C4D2510188019B" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="C56B454B-CA1E-4E2B-B785-0C5E184DD752">
                <File Id="filC64136135CB962FC888C7874278E3E07" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\Microsoft.DiaSymReader.Native.amd64.dll" />
            </Component>
            <Component Id="cmp3B657E299B5B242C6791287904ECF593" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="CE027257-8563-4388-B6E5-A2160E4AD1F2">
                <File Id="filDFDDE638E35DD6809CF05E7F57426240" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\Microsoft.DiaSymReader.Native.amd64.dll.refresh" />
            </Component>
            <Component Id="cmp81A659D4079FFEFF63B93A7CE4303996" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="C060AF73-3E06-46C4-85F2-26FF6CAD62EB">
                <File Id="filA2CE113C4D66A717A2E7384A9860C199" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\Microsoft.DiaSymReader.Native.x86.dll" />
            </Component>
            <Component Id="cmpF14F7BC7FC4C858B098F50C418668F79" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="9CFB6488-FD26-4221-A556-940CC6309626">
                <File Id="fil201F03F991BB6CDE22C22132FA105710" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\Microsoft.DiaSymReader.Native.x86.dll.refresh" />
            </Component>
            <Component Id="cmp84795B9F704D78B0F3C9F63031267454" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="AD3D2E05-0A0E-4342-B4A4-EB4ED5FFB732">
                <File Id="fil6A6BE20236936F128003C3477F1B44DB" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\Microsoft.Managed.Core.targets" />
            </Component>
            <Component Id="cmp46DCCACE0B1E5FA049E73C74CB45D5EE" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="E7531E14-C693-461B-B17B-4016E5F7F663">
                <File Id="filE08720DBDF951DD49D9E31521FB441B3" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\Microsoft.VisualBasic.Core.targets" />
            </Component>
            <Component Id="cmp18ABCDE8A87E6CB6079FDED54F7400DD" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="54DE4CC1-A943-4F0D-8DEC-B27E1BE39849">
                <File Id="fil13AEC2B20A04854A96AC4B3F36B565DB" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\System.Buffers.dll" />
            </Component>
            <Component Id="cmpD911E5F09E7037C57931347B168C0398" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="F837C3EE-651E-41A0-BB71-A5DBCF069D64">
                <File Id="filAC491699DB437C6D17C48EC7F8F80253" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\System.Buffers.dll.refresh" />
            </Component>
            <Component Id="cmp56C5F86D788F36A1275887B9ADB7AEE5" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="A6AF2750-A3CB-46C6-81BA-6EC32F7ADFA2">
                <File Id="filAD20091BA47ED98D3F51A7A1AC771DD5" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\System.Collections.Immutable.dll" />
            </Component>
            <Component Id="cmp67B5CC9168855289FD44D455649C75DD" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="1A7A50AF-7038-446C-BC14-070E6E50FF82">
                <File Id="fil4A8E64FAA4764087C71CD99272FB5F04" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\System.Collections.Immutable.dll.refresh" />
            </Component>
            <Component Id="cmpE184898546E07AD9A84370027BACABF9" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="0325E1DE-8351-475C-BC2B-750727B474D7">
                <File Id="filE6BAD5F38CAF949A606F7C8182498E70" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\System.Memory.dll" />
            </Component>
            <Component Id="cmpDA877AB6E9EEBB7BDBA8831C1089CCC4" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="60FAD01E-54FD-4984-A694-5BCFC5247492">
                <File Id="fil3BD7ABC3A508CFDE2E94452F82A10AAE" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\System.Memory.dll.refresh" />
            </Component>
            <Component Id="cmp9AAB2880C010B6191EEA3904F039E7E3" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="FEAA1B78-DAE4-4E8C-B35C-B85452D3AA23">
                <File Id="fil40D172E8492ED74FBBD522BC5CBBDDB2" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\System.Numerics.Vectors.dll" />
            </Component>
            <Component Id="cmp87A2AB9E1BAE201EC08833F8E89921F8" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="354F2D10-174E-4683-AB10-215A1065DDF0">
                <File Id="fil80185B834D3BBA0862F62A581521D0AB" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\System.Numerics.Vectors.dll.refresh" />
            </Component>
            <Component Id="cmp87FEE6FF33C2438454023AB1D68BC6C1" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="FEC90358-EF7C-4F1A-B38B-7D063BB246E9">
                <File Id="fil8B6672FFC5FC39FD4EE0EB9CF34B9405" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\System.Reflection.Metadata.dll" />
            </Component>
            <Component Id="cmpC039E0FBAE1D9A1BD51891C2C8F32789" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="D18119EB-05CC-4857-BA8C-64E34AE14DD0">
                <File Id="filF3E990647B04448F9B195979DDE41F8A" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\System.Reflection.Metadata.dll.refresh" />
            </Component>
            <Component Id="cmpA0C774E1CF3D278A0A58919911040BC6" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="14B6E0E1-5514-4326-AC8F-F3A020726013">
                <File Id="fil01D4F9A1550E2C5B9AB22C0379F86FD1" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\System.Runtime.CompilerServices.Unsafe.dll" />
            </Component>
            <Component Id="cmp2CAC6C274BB605DAC26D1AF14D221354" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="44E1707B-4686-431F-81ED-E804B92B3960">
                <File Id="filABD470EEC82FE7D880881BD12506E0AB" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\System.Runtime.CompilerServices.Unsafe.dll.refresh" />
            </Component>
            <Component Id="cmpD618F37BEE6B793BBCA541D2396B9F92" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="7CF99D52-C6B1-4ADA-8280-B3AAB8BA7178">
                <File Id="filE039A23F88CD08D27D8038079B13929C" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\System.Text.Encoding.CodePages.dll" />
            </Component>
            <Component Id="cmp26BD22717A7EC76FCD7F74A3216DBB9F" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="04962FAF-C064-44F8-B752-9146D309F204">
                <File Id="filD5530C119CC4B704C7C0A5B6B2DFB2AB" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\System.Text.Encoding.CodePages.dll.refresh" />
            </Component>
            <Component Id="cmpE200A26C2B5E36F8203D577EC0F72C2D" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="5C6FC114-5190-4E90-B5F0-446153A8DCDB">
                <File Id="filA4899110528A6F51C85A5A74615F66C8" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\System.Threading.Tasks.Extensions.dll" />
            </Component>
            <Component Id="cmpCDAF2D88C04DF746E7326D59B04AD6FC" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="77F51F0C-9028-4314-9BB2-C8D8081EC54C">
                <File Id="fil790971F8C2789DA51D6AB6412E8F6359" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\System.Threading.Tasks.Extensions.dll.refresh" />
            </Component>
            <Component Id="cmp466005F94B002DEF0860379A5C44BE29" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="8FDAE39E-223B-4A77-ADC5-625D34A544F7">
                <File Id="fil41BA8EFE8226D51D6D4BBDDC656F16E3" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\vbc.exe" />
            </Component>
            <Component Id="cmpFF1A8EFEBA4AB6D095C31D4CBC0EFC5C" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="7CF81BF7-47ED-4B68-AE11-74A7202C0209">
                <File Id="filC4D17E91D93A37A86A44B25E3418B793" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\vbc.exe.config" />
            </Component>
            <Component Id="cmp3F06409F146712DA804EDC687B1D9037" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="851157C6-D72C-47AD-A267-A6258D14C780">
                <File Id="fil32B679C3F28D925DB1798C84018ED018" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\vbc.exe.refresh" />
            </Component>
            <Component Id="cmp27852BD1D02D63360A211B0142DFD641" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="EA9F54B8-A096-4F11-8882-5A524E6A36B4">
                <File Id="filFC629E85871D30BEC1954FB78891C002" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\vbc.rsp" />
            </Component>
            <Component Id="cmp126C5E90DF81B578ED58EFFB7AF29FBE" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="30B33283-C027-41D5-86DC-F8D38B87848F">
                <File Id="filA5E39D99CCE8BD28B7433E3D8DBF3145" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\VBCSCompiler.exe" />
            </Component>
            <Component Id="cmpCF5D18C74D6778256F5DBD64E0B3B9E0" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="4ECF9864-A280-4C0B-9D83-06ED2343DF7B">
                <File Id="fil48418CA83648A9DEC5C59390FB2C20E4" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\VBCSCompiler.exe.config" />
            </Component>
            <Component Id="cmpA65A50BAB5FBF2A4B25DCECAA3C79648" Directory="dirB88FAB982AD78D8F2803403CCF64E1A6" Guid="9A16CAB7-FF9A-4367-BAFB-F94B387F1166">
                <File Id="fil4E3F38433D6AE696F13205F15F452558" KeyPath="yes" Source="$(var.StackBuilderTechBSABinSourceDir)\roslyn\VBCSCompiler.exe.refresh" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>